@"
# Android/Gradle
.gradle/
.build/
**/build/
**/.cxx/
**/.externalNativeBuild/
local.properties
*.iml
.idea/
captures/

*.jks
*.keystore
# Misc
.DS_Store
Thumbs.db

**/obj/

# Log/outputs
*.log

"@ | Out-File -Encoding UTF8 .gitignore
